* {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
}

h1 {
	color: #2F4F4F;
	text-align: center;
}

a {
	color: blue;
	font-size: 18px;
	font-style: italic;
}

dt {
	color: #006400;
	font-family: Arial, sans-serif;
	font-size: 25px;
	font-weight: bold;
}

dd {
	text-indent: 2.5%;
	font-family: Arial, sans-serif;
	font-size: 21px;
	/* font-weight: bold; */
}

th, td {
	text-indent: 0;
	border: 1px solid black;
	padding: 23px;
	text-align: left;
}

th {
	background-color: lightgray;
}

dd>p {
	font-weight: bold;
	font-size: 23px;
}

#protocolTable {
	font-size: 20px;
	border: 2px solid black;
	border-collapse: collapse;
	width: 70%;
}

#browsers {
	font-size: 20px;
	border: 2px solid black;
	border-collapse: collapse;
	width: 40%;
	text-align: center;
}

.IDK::after {
	content: "//////////// Don't know... ////////////";
	color: Red;
	font-size: 25px;
	font-weight: bold;
}
